@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);

@import url(../blocks/container/container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__content/profile__content.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__flexer/profile__flexer.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__user/profile__user.css);
@import url(../blocks/profile/__job-title/profile__job-title.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__description/elements__description.css);
@import url(../blocks/elements/__text/elements__text.css);
@import url(../blocks/elements/__heart-button/elements__heart-button.css);
@import url(../blocks/elements/__heart-button/_active/elements__heart-button_active.css);


@import url(../blocks/footer/footer.css);

@import url(../blocks/form/form.css);
@import url(../blocks/form-opened-background/form-opened-background.css);
@import url(../blocks/form/__content/form__content.css);
@import url(../blocks/form/__button-cross/form__button-cross.css);
@import url(../blocks/form/__text/form__text.css);
@import url(../blocks/form/__description/form__description.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__button-submit/form__button-submit.css);









