.elements__heart-button{
    background-image: url(../../../images/Vector\ \(1\).svg);
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    width: 22px;
    height: 19px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.elements__heart-button:hover{
    opacity: 0.4;
}


.elements__heart-button:focus{
    background-image: url(../../../images/Union.svg);
}

